.product-screen {
  padding: 2.9rem 3.2rem 5rem 10rem;
  flex: 0 1;
  &__product {
    position: absolute;
    top: 4rem;
    left: 1rem;
    z-index: 2;
    width: 16rem;
    display: flex;
    img {
      width: 100%;
      z-index: 3;

      position: absolute;
    }
  }
  &__message-window {
    display: flex;
  }
}
