.product-screen {
  padding: 0 3.2rem;
  flex: 1 0;

  &__header {
    font-size: 2rem;
    padding-left: 9rem;
  }
  &__title {
    font-size: 5rem;
    font-size: 6rem;
    text-transform: uppercase;
    margin-top: 0.9rem;
    letter-spacing: rem(10);
  }
  &__product {
    position: absolute;
    top: 4rem;
    left: 1rem;
    z-index: 2;
    width: 16rem;
    display: flex;
    img {
      width: 100%;
      z-index: 3;

      position: absolute;
    }
  }
  &__message-window {
    display: flex;
  }
  &__info {
    margin-left: 10rem;
    margin-top: 5rem;
  }
}
