@import '../../utils/variables.scss';
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &__inner {
    padding: $mainPadding;
  }
  &__logo {
    width: 15%;
  }
  &__logo-pic {
    width: 100%;
  }
}
